<div class="big-card">
  <img class="big-card-image"
    src="https://img.freepik.com/vetores-gratis/fundo-de-ui-ux-de-estilo-gradiente_52683-69621.jpg?w=740&t=st=1683232120~exp=1683232720~hmac=948941981267d6dd42c5e03e44e2d3bb1fd14c836596667408278f514afdc151"
    alt="">
  <div>
    <p class="big-card-date">POSTADO - 2023-05-04</p>
    <h3 class="big-card-title">
      COMO FICAR RICO EM POUCOS DIAS - NAO EXISTE
    </h3>
    <p class="big-card-description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla maxime architecto nobis nisi culpa officia numquam
      hic, dolorem reprehenderit, ratione veritatis, pariatur nesciunt eum at natus. Obcaecati inventore accusamus ipsa.
    </p>
  </div>
</div>