/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter/static/Inter-Regular.ttf");
}

@font-face {
  font-family: "Patrick Hand";
  src: url("./assets/font/Patrick_Hand/PatrickHand-Regular.ttf");
}
* {
  margin: 0px;
  padding: 0px;
}
