.section-smal-card-list {
  width: 1106px;
  left: 167px;
  top: 713px;
  border-radius: 0px;
  box-shadow: 0px 8px 20px 0px #0000004d;
  margin: 15px auto;
}

.section-smal-card-list header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin: 0px 30px;
  padding-top: 30px;
}

.section-smal-card-list .content {
  display: grid;
  grid-template-columns: repeat(
    5,
    1fr
  ); /* Define 3 colunas com largura igual */
  gap: 30px; /* Define o espaço entre as células da grade */
  padding: 30px 30px;
}

.buton-more-post {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
